<form action="exercise1.php" method="post">
    <label for="cardNumber">Card number:</label>
    <input type="text" id="cardNumber" name="cardNumber" required><br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required><br>
    <label for="people">Number of people:</label>
    <input type="number" id="people" name="people" required><br>
    <input type="submit" value="Next">
</form>